<section class="container centered">
  <div class="about">
    {{ with .Site.Params.avatarurl }}
      <div class="avatar"><img src="{{.}}" alt="avatar"></div>
    {{ end }}
    <h1>{{ .Site.Params.author }}</h1>
    <h2>{{ .Site.Params.info }}</h2>
    {{ with .Site.Params.social }}
    <ul>
      {{ range sort .}}
      <li><a target="_blank" href="{{ .url }}">{{ .name }}</a></li>
      {{ end }}
    </ul>
    {{ end }}

    {{ if .Site.Params.cv_fr }}
    <p>
      <a href="https://drive.google.com/uc?authuser=0&id=1yimlB9GpZ0kmdQh3AL8uYHxayg-8KMyd&export=download" style="text-decoration: none;">
        {{ .Site.Params.cv_fr }}
      </a>
    </p>
    {{ else if .Site.Params.cv_en }}
    <p>
      <a href="https://drive.google.com/uc?authuser=0&id=1pidBJU2KoI1ULgE-_1gXVCEAEL6AwtWX&export=download" style="text-decoration: none;">
        {{ .Site.Params.cv_en }}
      </a>
    </p>
    {{ end }}

  </div>
</section>
