<section class="container centered">
  <div class="about">
    {{ with .Site.Params.avatarurl }}
      <div class="avatar"><img src="{{.}}" alt="avatar"></div>
    {{ end }}
    <h1>{{ .Site.Params.author }}</h1>
    <h2>{{ .Site.Params.info }}</h2>
    {{ with .Site.Params.social }}
    <ul>
      {{ range sort .}}
      <li><a target="_blank" href="{{ .url }}">{{ .name }}</a></li>
      {{ end }}
    </ul>
    {{ end }}

    {{ if .Site.Params.cv_fr }}
    <p>
      <a href="https://uced9f7c18a8ac823a5c564dea93.dl.dropboxusercontent.com/cd/0/get/AYEzitjnzzl9MPf5bA8l_TPRsC3g8x5zoIgCGs1xCIsOX6MqFu0X0hCVyEL0DucA1H0JrD3XMK7YPB_RE-RmirGALvPQd5gqbGtJmdfV0ozgwloGHbQSrqEtAanLwrgwki6vL4XSzADJoFTq_XdpHxUCWriUW9dZLvKi8hVDHyoC3trqHp_MTAAAYva1vZwVB_U/file?_download_id=9887360117949969519645675171216259015438662490089545248376950272&_notify_domain=www.dropbox.com&dl=1" style="text-decoration: none;">
        {{ .Site.Params.cv_fr }}
      </a>
    </p>
    {{ else if .Site.Params.cv_en }}
    <p>
      <a href="https://ucde0c4ac886f638781fd741130e.dl.dropboxusercontent.com/cd/0/get/AYHYn4ZXOgkYUcMASlvFqLl-6nsHAvSY5iHfBXqJCztxwkz4LIXH05xPhtSovk-3YW92d1MlchELY_QU_zzNittuK0wlxrjBYWSjGLWvsREY2yM_HXPsf_cZCOhoQA0IJxytd9tKVWGuCrskoeQpS61kH_y2AafwWMpVKsxufEpnhtGZy20WRRPNHE6dlGHWDHs/file?_download_id=3981240011291176369009586494145628561434829305829479681671682706&_notify_domain=www.dropbox.com&dl=1" style="text-decoration: none;">
        {{ .Site.Params.cv_en }}
      </a>
    </p>
    {{ end }}

  </div>
</section>
