<section class="container centered">
  <div class="about">
    {{ with .Site.Params.avatarurl }}
      <div class="avatar"><img src="{{.}}" alt="avatar"></div>
    {{ end }}
    <h1>{{ .Site.Params.author }}</h1>
    <h2>{{ .Site.Params.info }}</h2>
    {{ with .Site.Params.social }}
    <ul>
      {{ range sort .}}
      <li><a target="_blank" href="{{ .url }}">{{ .name }}</a></li>
      {{ end }}
    </ul>
    {{ end }}

    {{ if .Site.Params.cv_fr }}
    <p>
      <a href="https://dl-web.dropbox.com/get/my_cv_dev_fr.pdf?_download_id=20190427058149196345210972515038960723261206649368241618193701750394&_notify_domain=www.dropbox.com&_subject_uid=265683383&dl=1&w=AABBxoU-hjuQmQ38lBAT8dBxRrzkcI7LVdt3TuLS8iwByw" style="text-decoration: none;">
        {{ .Site.Params.cv_fr }}
      </a>
    </p>
    {{ else if .Site.Params.cv_en }}
    <p>
      <a href="https://dl-web.dropbox.com/get/my_cv_dev_en.pdf?_download_id=07348987100831854655397510173011688336891301493673758606860388245&_notify_domain=www.dropbox.com&_subject_uid=265683383&dl=1&w=AADxbZyexcdixA6U_4MuK4LqgHaei2NCkbLcSk3lmljDeA" style="text-decoration: none;">
        {{ .Site.Params.cv_en }}
      </a>
    </p>
    {{ end }}

  </div>
</section>
